.counter{
  text-align: center;
  padding: 20px;
  border: solid 2px #000;
}
.counter-number{
  font-size: 50px;
  margin: 0 0 10px;
}
/* #js-counter{} */

/*
button
*/
/* .count-button{} */
.button{
  font-size: 20px;
  padding: 10px 20px;
  border: 0;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}
.button:hover{
  opacity: 0.8;
  transition: opacity .25s;
}
/* #js-button{} */
/* #js-reset-button{} */

/*
count-log
*/
.arrange{
  margin: 5px;
}
.log{}
/* #js-log{} */

/*
log-table
*/
/* .log-table{} */
#js-log-table{
  text-align: center;
  margin: 20px 0 0 0;
  border: solid 2px #000;
  display: none;
}
.log{
  font-size: 20px;
  padding: 10px;
  border-bottom:solid 2px #333;
  margin: 0 30px 5px 30px;
  word-spacing: 20px;
}
.log > span {
  margin: 0 0 0 100px;
}